{% extends "base.html"%}

{%block content%}
<div class="jumbotron">

<h1>welcome to user name check</h1>
<p>let ee if your user name is secure</p>
<p>fill out the form below with user name that has three restrains</p>
<ul>
<li>must have an upper case letter somewhere</li>
<li>must have a lower case letter somewhere</li>
<li>must have a number at the end</li>
</ul>
<form action="{{url_for('check')}}">
    <label for="UserName">UserName:</label>
    <input type="text" name="name">
    <input type="submit" name="Submit Form">
</form>
</div>
{%endblock%}